<h1>{% trans %}Quick learning Symbol blockchain for use in the field today PHP Edition(Drupal){% endtrans %}</h1>

<h2>{{'Table of Contents'|t}}</h2>

<h4><a href=quicklearning_symbol/qls_ch3>{{'Chapter3'|t}} {{'Account'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch4>{{'Chapter4'|t}} {{'Transaction'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch5>{{'Chapter5'|t}} {{'Mosaics'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch6>{{'Chapter6'|t}} {{'Namespaces'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch7>{{'Chapter7'|t}} {{'Metadata'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch8>{{'Chapter8'|t}} {{'Lock'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch9>{{'Chapter9'|t}} {{'Multisignature'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch10>{{'Chapter10'|t}} {{'Monitoring'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch11>{{'Chapter11'|t}} {{'Restrictions'|t}}</a></h4>
<h4><a href=quicklearning_symbol/qls_ch12>{{'Chapter12'|t}} {{'Offline Signatures'|t}}</a></h4> 
<h4><a href=quicklearning_symbol/qls_ch13>{{'Chapter13'|t}} {{'Validation'|t}}</a></h4>

<h1>{{'Introduction'|t}}</h1>

<h2>{{'Abstract'|t}}</h2>
<p>
{% trans %}
This manual was designed as a practical resource for people looking to learn and leverage the Symbol blockchain's core concepts and native functionality. Unlike most official documents that exhaustively deal with general technology, this document approaches the Symbol blockchain through its usable elements and built-in features, providing a practical overview by detailing key concepts alongside example code and outputs. If read from the beginning, it will provide a holistic understanding of the Symbol blockchain along with all the tools needed to begin application development. For the sake of brevity, this document omits several aspects of the Symbol blockchain and its network including: node management, the consensus algorithm, tokenomics, harvesting rewards, etc.
{% endtrans %}
</p>

<h2>{{'Target Audience'|t}}</h2>
<ul>
<li>{% trans %}Newcomers to the Blockchain space who are looking to better understand the Symbol blockchain and experiment with it.{% endtrans %}</li>
<li>{% trans %}Blockchain enthusiasts looking for practical use cases with examples.{% endtrans %}</li>
<li>{% trans %}Educators & content producers seeking to understand and describe the Symbol blockchain or specific aspects of it.{% endtrans %}</li>
<li>{% trans %}Anyone curious about how easy it is to build on Symbol.{% endtrans %}</li>
</ul>

<h2>{{'Taking a practical approach'|t}}</h2>
<p>
{% trans %}A blockchain's most foundational element is a proof of existence with an associated time stamp, not money or 'cryptocurrency'. With this in focus we can imagine blockchain's applicability in areas such as authentication and traceability. Trust is a foundational element upon which society is built, yet we do not inherently trust systems and other individuals. In order to navigate this contradiction, countless solutions have been built around translating that trust into money. Blockchain has introduced the possibility of trustless peer-to-peer interactions, providing a novel opportunity to reframe our relationship with trust and value.{% endtrans %}
{% trans %}Blockchain technology has made trustless peer-to-peer interactions possible, eliminating the need for money or a trusted third parties in many scenarios. This document was written in such a way that people who are active in fields of business and culture, not just in finance, can get a sense of how to utilise the power of blockchain within their domain.{% endtrans %}
</p>

<h2>{{'Ready-to-use with real-world utility'|t}}</h2>
<p>
{% trans %}The idea that "a Proof of Concept (PoC) is no longer needed" is increasingly taking hold in areas of novel technology advancement such as the Internet of Things (IoT). Physical and digital modularity have progressed to the point where even prototypes can safely deployed in real-world applications as they are, largely bypassing the need for protracted refinement cycles and code review. The Symbol blockchain was largely designed around notions of security, scalability, and modularity. Symbol's native functionality for accounts and tokens provides a robust foundation of highly secure information infrastructure. This is furthered by a powerful network of API-enabled nodes and suite of community-developed tools which largely mitigate the need for custom-build applications and self-hosted nodes.{% endtrans %}
{% trans %}We hope the possibilities provided by the Symbol blockchain resonate throughout this document will show you these possibilities. Please note that the 'Tips for use in the field' at the end of each chapter requires a cross-sectional understanding of Symbol's functions, so you can skip these at first.{% endtrans %}
</p>

<h2>{{ "Where Symbol differs from other 'smart' blockchains"|t}}</h2>
<p>
{% trans %}The Symbol blockchain does not use smart contracts. A suite of 'smart' infrastructure is baked into Symbol's code base, the complex interactions and transactions enabled by this infrastructure provide similar functionality to many common smart contracts deployed on other chains. Symbol's built-in 'smart contracts' can be used at any time but are executed only once with each use, hence they are sometimes described as a deployless one-time smart contract.{% endtrans %}
{% trans %}As a deployless chain, Symbol encourages off-chain applications and contracts that interact with Symbol's many functions. These applications can be written in any common programming language. As deployless one-time smart contracts as they are executed only once, they cannot incur inordinate fees nor network resources due to errors like an infinite loop. This also prevents end users or bad actors from deploying contracts with unintended vulnerabilities or outright malicious code.{% endtrans %}
</p>

<p>
{{'Original author'|t}}<br>
XEMBook<br>
<a href="https://github.com/xembook/quick_learning_symbol">{{'Quick learning Symbol blockchain'|t}}</a>
</p>
SDK v3{{'Edition'|t}}<br>
TGVRock<br>
<a href="https://github.com/TGVRock/quick_learning_symbol_v3">{{'Quick learning Symbol blockchain'|t}}(SDK v3 {{'Edition'|t}})</a>
</p>

<p>
PHP{{'Edition'|t}} {{'editor'|t}}<br>
ishidad2<br>
<a href="https://github.com/ishidad2/quick_learning_symbol-for-php">{{'Quick learning Symbol blockchain'|t}}(PHP {{'Edition'|t}})</a>
</p>
<p>
PHP_Drupal{{'Edition'|t}} {{'editor'|t}}<br>
u2yasan<br>
<a href="https://github.com/u2yasan/quick_learning_symbol_php_drupal">{{'Quick learning Symbol blockchain'|t}}(PHP Drupal {{'Edition'|t}})</a>
</p>
<p>
{{'other languages'|t}}{{'Edition'|t}}<br>
ymuichiro<br>
<ul>
<li><a href="https://github.com/ymuichiro/quick_learning_symbol_en">[{{'English'|t}}]</a></li>
<li><a href="https://github.com/ymuichiro/quick_learning_symbol_zh_cn">[{{'Chinese'|t}}({{'simplified'|t}})]</a></li>
<li><a href="https://github.com/ymuichiro/quick_learning_symbol_zh_tw">[{{'Chinese'|t}}({{'traditional'|t}})]</a></li>
<li><a href="https://github.com/ymuichiro/quick_learning_symbol_it">[{{'Italian'|t}}]</a></li>
</ul>
</p>